html{
    height: 100%;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image:url(../bg4.jpg); */
    background-color:#eee;
    background-size: cover;
    background-repeat: no-repeat;

}
.redcl{
    color: rgba(255, 52, 52, 0.918);
    font-family: arial;
    font-weight: bold;
}
.greencl{
    color: rgb(16, 192, 0);
    font-family: arial;
    font-weight: bold;
    
}

.nav-bar{
    display: grid;
    grid-template-columns: auto auto 4em;
    background-color:aliceblue;
    /* margin: 0.5em; */
    /* background-image:url(../bg4.jpg); */
    min-height: 4rem;
    border-bottom: 1px solid rgb(156, 199, 241);
    box-shadow: 0 4px 8px rgb(0 0 0 / 8%);
}
nav{
    display: hidden;
    position: relative;
    align-items: center;
}
nav > ul > li{
    display: inline;
    list-style: none;
    padding: 2em;
}
nav > ul > li > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
nav > ul > li > a:hover{
    color: dodgerblue;
}
nav > ul > li > a:focus{
    color: dodgerblue;
}
.nav-bar > a >img:hover{
    transform: scale(1.1);
    transition: ease-in;
}
.logo{
    margin-left: 1em;
    padding-top: 0.3em;
}
.profile-btn{
    min-width: 4em;
    margin: 0.3em auto;
    height: fit-content;
}
.side-bar {
    margin-top: 0.6rem;
    max-height: 75%;
    width: 20rem;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    border: 1px solid rgb(189, 173, 173);
    right: 2em;
    background-color:#eee;
    overflow-x: hidden;
    overflow: hidden;
    padding-top: 10px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 8%);

    
  }
  .side-bar > p{
    border-bottom: 1px dotted rgb(233, 155, 155);
    padding: 1em;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  
.wallet-info{
    min-width: 33em;
    max-width: fit-content;
    padding: 0 10rem;
    margin-top: 2rem;
    /* color: #eee; */

}
.wall-bal-display{
    color: rgb(0, 0, 0);
    margin-top: 4rem;
    text-align: center;
    min-height: 8vh;
    padding: 1.4em;
    border:1px solid black;
    font-size: 2.5em;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius:12px;
    box-shadow: 0px 8px 10px 2px rgb(230, 201, 201) ;
    background-color: rgba(217, 255, 0, 0.5);
    
}
h3{
    margin-left: 5rem;
    font-size: 30px;
    color: #16b1b1c0;
    display: inline-block;
    /* font-family: 'Times New Roman', Times, serif; */
    text-transform: uppercase;
}
.WID{
    display: inline-block;
    padding-left: 20rem;

}
.btn > button{
    min-width: fit-content;
    padding: 1rem;
    background-color: rgb(102, 255, 0);
    color: rgb(0, 0, 0);
    border: none;
    /* border-radius: 8px; */
    /* margin: 3rem; */
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.5s;
    
}
.btn{
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10rem;
}
/* .wallet-info > button:hover{
   color:rgb(78, 0, 151) ;
} */

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    
  }
  
  .button span:after {
    content: '+';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    padding-right: 0;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .textcap{
    text-transform: capitalize;
  }
  