body{
    /* background-image: linear-gradient(to bottom,#58ecff,#93ffff); */
}
.prof-logo{
    height: 7rem;
    width: 7rem;
    background-size:cover;
}
/* .container{
   display: flex;
   flex-direction: column;
   overflow: hidden;

} */
.left-content{
    min-height: 20rem;
    padding-top: 5rem;
}
.left-section{
    margin-top: 2rem;
    /* max-height: 75%; */
    width: 18rem;
    max-width: 25rem;
    min-height:30rem ;
    /* vertical-align: middle; */
    position: fixed;
    z-index: 1;
    /* top: 0; */
    border: 1px solid rgb(247, 185, 185);
    color: antiquewhite;
    left: 2em;
    background-color:rgb(70, 94, 228);
    overflow-x: hidden;
    overflow: hidden;
    /* padding-top: 10px; */
    padding:10px 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 8%);
    text-align: center;
}

.right-section{
    width: 30rem;
    margin: 0rem 25rem;
    /* border-left: 2px dotted black; */
    padding-left:10rem ;
    /* padding-top: 0.3rem; */
}
.right-section h2{
    padding-bottom: 1rem;

}
.right-section > form{
    display: flex;
    flex-direction: column;
    /* min-width:30rem ; */
    justify-content: center;
    /* align-items: center; */
    /* margin: auto; */
    padding: 0.6em;
    margin-top: 0;
    max-height: 25rem;
    

}
form > input{
    padding: 0.7em;
    margin-bottom:0.6em ;
}
textarea{
    max-width: 30rem;
    max-height: 7rem;
    min-height: 5em;
}
label{
    padding-bottom: 0.5em;
}
.prof-btn{
    display: grid;
    grid-template-columns: auto auto;
    gap: 6rem;
    padding-top: 1em;
}

.prof-btn > button{
    padding: 1em;
    text-transform: uppercase;
    width: fit-content;
    background-color: #01ccff;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid dodgerblue;
    transition: ease 1s;
}
.prof-btn button:hover{
    transform: scale(1.025);
    opacity: 0.7;
}
/* input[type="number"]{
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */